<header class="site-header">
    <div class="header-container">
        <!-- Left nav items -->
        <nav class="site-nav-left">
            <ul>
                <li><a href="/reviews/">Reviews</a></li>
                <li><a href="{{ site.youtube_channel }}" target="_blank" rel="noopener">YouTube</a></li>
            </ul>
        </nav>

        <!-- Center logo -->
        <div class="site-branding-center">
            <a href="/" class="site-logo">
                <img src="/assets/images/thumbnail.png" alt="ReganCipher" class="logo-image">
            </a>
        </div>

        <!-- Right nav items -->
        <nav class="site-nav-right">
            <ul>
                <li><a href="/measurements/">Measurements</a></li>
                <li><a href="/about/">About Me</a></li>
            </ul>
        </nav>
    </div>
</header>
